.left {
  width: 300px;
  border-right: 1px solid black;
  min-height: 100vh;
  padding: 2rem;
}

.right {
  width: 100%;
  background-color: #ecf0f1;
  padding: 2rem 3rem;
}

.link {
  display: block;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  border-radius: 2rem;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 0.8rem;
}

.logo {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.select {
  padding: 1rem;
  font-size: 0.7rem;
  font-family: "Press Start 2P", cursive;
  border: 2px solid black;
  border-radius: 5rem;
  background-color: white;
}

.select option {
  padding: 0.5rem;
  font-family: initial;
  font-size: 1.2rem;
}
